
<div class="row">
    <div class="col-xs-3">
        <div class="col-sm-12" style="margin-top: -200px">
            <img src="/icon2.png" height="200px" width="200px" class="rounded-img">
        </div>
        <div class="col-sm-12">
          <h3 style="font-weight: bold;"><%= params[:id] %></h3>
          <p>
            Applying Ruby on Rails for a twitter clone.
          </p>
        </div>
    </div>
    <div class="col-xs-6">
      <%= render '/components/post_form' %><br><br>
      
      <% for @p in @posts %>
        <div class="panel panel-default post-panel">
          <div class="panel-body">
            <div class="col-sm-1">
              <img src="/icon1.png" class="rounded-img"height="30px" width="30px"></img>
            </div>
            <div class="col-sm-11">
              <p class="post-title"><soan class="post-owner"><%= User.find(@p.user_id).username %></span> <span class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span></p>
              <p class="post-content"><%= @p.content %></p>
            </div>
            <div class="col-sm-12">
              <p class="post-links"></p>
              
             <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
             <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
             <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
             <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
             <a href="">View Conv...</a>
             
            </div>
          </div>
        </div>
      <% end %>
      
      <div class="panel panel-default post-panel">
          <div class="panel-body row">
            <div class="col-sm-12">
            <center><img src="/logo.png" height="25px" width="25px"></img>
              <a href="#top"><p class="opacity: .7;">Go to Top  <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
            </div>
          </div>
        </div>
      
    </div>
    
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h5 style="color: grey; font-size: 125%;">Who to follow</h5>
            <% for @u in @toFollow do %>
              <p style="font-weight: bold; opacity: 0.85;" ><a href="/user/<%= @u.username %>"><%= @u.username %></a></p>
            <% end %>
          </div>
        </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Trends</p>
        </div>
    </div>
  </div>
</div>